* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(232, 230, 227);
    background-color: #181a1b;
    opacity: 87%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
}

#navbar {
    width: 100%;
    height: 50px;
    background-color: #2196f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-left: 10px;
    height: 50px;
    width: auto;
}

#logo:hover {
    cursor: pointer;
}

#searchcont {
    min-width: 100px;
    display: flex;
    align-items: center;
}

#searchcont>* {
    flex-grow: 0;
}

#search {
    width: 250px;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: medium;
    min-width: 50px;
}

#searchbtn {
    width: 40px;
    height: 35px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

#searchbtn:hover {
    cursor: pointer;
    filter: brightness(87%);
}

#userdata {
    display: flex;
    font-size: medium;
    align-items: center;
}

#username {
    margin-right: 10px;
}

#login,
#signup,
#logout,
#create,
#createbtn,
#cancel {
    width: 75px;
    height: 35px;
    color: whitesmoke;
    background-color: rgb(10, 106, 182);
    border: none;
    outline: 0;
    border-radius: 2px;
    margin-right: 10px;
    font-size: medium;
}

#login:hover,
#signup:hover,
#logout:hover,
#create:hover,
#createbtn:hover,
#cancel:hover {
    cursor: pointer;
    opacity: 87%;
}

#create {
    margin-right: 0;
    margin-top: 15px;
    width: 175px;
}

#qnc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 50px);
}

#question,
#comments {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question,
.comment {
    width: 100%;
    max-width: 750px;
    min-height: 200px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    border: 2px solid #00B4CC;
    border-radius: 3px;
    background-color: whitesmoke;
    color: #181a1b;
}

.comment {
    width: calc(100% - 150px);
    margin-left: 50px;
}

.question:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.qa,
.ca {
    display: flex;
    align-items: center;
}

.qat,
.cat {
    width: 30px;
    height: 30px;
}

.qtc,
.ctc {
    padding: 10px;
}

#createdia {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 10px;
    border-radius: 2px;
}

#editor {
    width: 500px;
}